<!DOCTYPE html>
<html>

<head>
    <title>Adventure</title>
</head>

<body>
    <h1>Welcome Adventurer.</h1>
    <% if (username) { %> <h2>Welcome username <% } else { %> <h2>I dont have a name</h2> <% } %></h2>}
    </h2>

    <form  method="post">
        <h3>Make your choice:</h3>
        <input type="number" id="weight" name="weight">

        <h3>Please select which type of mail:</h3>

        <input type="submit" value="Continue Adventurer">

        <input type="submit" value="Start Anew"><br><br>

    </form><br><br></div>
</body>
</html>

<script src="functions.js"></script>