p {
    font-weight: bold;
    background-color: rgb(150, 0, 0);
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    color: white;
	box-shadow: 4px 6px rgb(252, 240, 240);
	font-size: large;
}

nav ul {
	list-style-type: none;
	background-color: rgb(150, 0, 0);
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 8px;
}

nav li {
	float: left;
	padding: 0.2em;
}

nav li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding: 1em 0.3em;
	font-weight: 700;
}

li a:hover {
	background-color: #3a3a3a;
	color: rgb(252, 240, 240);
}
