p {
    font-weight: bold;
    background-color: rgb(150, 0, 0);
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    color: white;
	box-shadow: 4px 6px rgb(252, 240, 240);
	font-size: large;
}

nav ul {
	list-style-type: none;
	background-color: rgb(150, 0, 0);
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 8px;
}

nav li {
	float: left;
	padding: 0.2em;
}

nav li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding: 1em 0.3em;
	font-weight: 700;
}

li a:hover {
	background-color: #3a3a3a;
	color: rgb(252, 240, 240);
}

image {
	display: block;
  width: 100%;
  height: auto;
}

.hoverBackground {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
  }
  
  .hover:hover .hoverBackground {
	width: 100%;
	left: 0;
  }
  
  .hoverText {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }
  .hover {
	position: relative;
	width: 50%;
  }

  .pencils {
	  max-width: 400px;
  }