<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>

    <body>
        <h1>This the home page.</h1>
        <h2>Welcome <%= username %>, your email: <%= email %></h2>

        
        <p>This is an ejs...</p>
    </body>
</html>